/*body {
   background-color: #444444;
    color: white;
}

.container {
    padding: 20px;
    margin-top: 50px;
    width: 80vw;
    background-color: black;
    border-radius: 10px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px;
}

button {
    margin-top: 20px;
    font-weight: bold;
}*/

.form-label {
    font-weight: bolder;
}

body {
    background-color: #444;
}

input {
    margin: 10px 0;
}

.form-control,
.form-select {
    border: 0;
}

.form-control:focus,
.form-select:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bg-form {
    background-color: black;
}

#btnAdd{
    margin: 20px 0;
}
