body {
    background-color: #444; /* Fondo grisaceo oscuro */
    color: black; /* Texto blanco */
}

.container {
    margin: 100px auto;
    padding: 20px;
    width: 50vw;
    background-color: black; /* Contenedor negro */
    border-radius: 10px;
    text-align: center; /* Contenido centrado */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    background-color: white; /* Fondo negro para los párrafos */
    text-align: center;
    width: 30vw;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

h1 {
    color: white; /* Título blanco */
    margin-bottom: 20px;
}